.navtext{
  color: black;
}

.navbar-header{
  margin-top: 17px;
  width:33px
}

.logo{
  max-width: 33px;
}

.rewards{
  margin-top: 20px;
  width: 100%;
}

.dropdown-menu{
  width: 500px;
}

.dropdown-menu ul li a{
  text-align: center;
  font-weight: bold;
}

.activity-pic{
  width: 150px;
}

.game-modal{
  width: 100%;
}

.img-circle{
  padding: 0;
  margin-top: 8px;
  width: 35px;
  height: 35px;
}

.img-rounded{
  padding: 0;
  margin-top: 0;
  width: 20px;
  height: 20px;
}

.komsel{
  width: 150px;
}

.tooltip-detail{
  padding: auto;
  margin: auto;
  text-align: center;
  display: block;
}

.leader{
  color:red;
  text-align: center;
  padding: auto;
  margin: auto;
  text-align: center;
  display: block;
}

.navbar-nav{
  padding-top: 7px;
  margin-left: 17px;
  font-size: 18px;
  font-family: "Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 60px;
  padding: 3px;
  width: auto;
}

.navbar-collapse{
  padding: 0;
}

.navbar-collapse div li{
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.navbar-collapse div li img{
  margin-top: -10px;
  margin-left: 60px;
}

.navbar-inverse {
  padding: 10px;
  margin: 0;
  position: fixed;
  z-index: 1;
  background-color: white;
}

.leaflet-container{
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.leaflet-map-pane {
  z-index: 2 !important;
}

.leaflet-google-layer {
  z-index: 1 !important;
}
